.top-service-card {
  border: 2px black solid;
  height: 300px;
  width: 300px;
  text-align: center;
  margin: 300px 30px;
  float: right;
  border-radius: 80px;
}

.contentContainer {
  padding-top: 15%;
}

.topSertopic {
  padding-left: 7%;
  font-size: 50px;
}

.topSerbox {
  padding-left: 5%;
}

.boxPT {
  border-radius: 10px;
  background-image: url("./image/perosonaltrainer.jpg");
  background-size: 300px 300px;
  float: left;
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
}

.boxWD {
  border-radius: 10px;
  background-image: url("./image/webdev.jpeg");
  background-size: 300px 300px;
  float: left;
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
}

.boxBB {
  border-radius: 10px;
  background-image: url("./image/barber.jpg");
  background-size: 300px 300px;
  float: left;
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
}

.boxBT {
  background-image: url("./image/beauty.jpg");
  background-size: 300px 300px;
  float: left;
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
}

.serbot {
  margin-top: 90%;
  width: 100%;
  color: white;
  font-size: 20px;
  padding: 3px;
  text-align: center;
  background-color: rgb(248, 120, 0);
  border-radius: 10px;
}

.boxPT:hover {
  transform: scale(1.1);
}

.boxWD:hover {
  transform: scale(1.1);
}

.boxBB:hover {
  transform: scale(1.1);
}

.boxBT:hover {
  transform: scale(1.1);
}
